.light-blue-text {
    color: #22CBFD !important;
}

.dark-blue-text {
    color: #00579E !important;
}

.dark-grey-text {
    color: #757575 !important;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.bg-light-blue {
    background-color: #22CBFD !important;
}

.bg-dark-blue {
    background-color: #00579E !important;
}

.bg-dark-grey {
    background-color: #757575 !important;
}
.bg-light-grey {
    background-color: #F8F9FA !important;
}

.bg-white {
    background-color: white !important;
}

.heading {
    font-family: 'MyriadPro' !important;
}

p {
    font-family: 'MyriadPro' !important;
}

@font-face {
    font-family: MyriadPro;
    src: url("../static/MyriadPro-Regular.otf") format("opentype");
}

.center-text {
    text-align: center !important;
}

.paddTop10 {
    padding-top: 10px !important;
}

.paddBot10 {
    padding-bottom: 10px !important;
}

.paddTop20 {
    padding-top: 20px !important;
}

.paddBot20 {
    padding-bottom: 20px !important;
}

.paddTop50 {
    padding-top: 50px !important;
}

.paddBot50 {
    padding-bottom: 50px !important;
}

.margTop20 {
    margin-top: 20px !important;
}

.margBot20 {
    margin-bottom: 20px !important;
}

.margTop10 {
    margin-top: 10px !important;
}

.margBot10 {
    margin-bottom: 10px !important;
}

.img-center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.width90 {
    width: 90% !important;
}

.width80 {
    width: 80% !important;
}

.width60 {
    width: 60% !important;
}

.width40 {
    width: 40% !important;
}


.rounded-corners {
    border-radius: 25px !important;
}

.paddLeft30{
    padding-left: 30px !important;
}

.margLeft45 {
    padding-left: 45px !important;
}

@media only screen and (min-width: 768px) {

    .mobile-only{
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .desktop-only{
        display: none;
    }

    .desktop-icon {
        width: 100px !important;
    }
}

.blog-posts {
    overflow: hidden !important;
}

.img-logo-mobile {
    width: 60px !important;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  